.Feats {
  display: flex;
  flex-direction: column;
  width: calc((100% - 4px) / 2);
  border: solid 2px gray;
  margin-left: 10px;
  background-color: white;
}

.FeatsTitle {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px gray;
}

.FeatsContent {
  height: 100%;
}

.FeatsContent textarea{
  border: none;
  resize: none;
  width: 95%;
  height: 95%;
  margin: 5px;

}