.Appearance {
  display: flex;
  flex-direction: column;
  width: 398px;
  border: solid 2px gray;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: white;
  height: 400px;
}

.AppearanceTitle {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px gray;
}

.AppearanceContent {
  position: relative;
  height: 320px;
/* background-image: url('https://images-ng.pixai.art/images/orig/31dda1b2-bcc3-4bbb-aec1-14eaade7935d'); */
}

.AppearanceContent img {
  margin: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  object-fit: contain;
  border: none;
}

.AppearanceContent textarea{
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  resize: none;
  width: 95%;
  height: 95%;
  margin: 5px;
  background-color: transparent;
}

.AppearanceContentURL {
  margin: 10px;
  font-size: 12px;
  font-weight: bold;
}

.AppearanceContentURL input {
  width: 95%;
  border: none;
  border-bottom: solid 1px gray;
}