.Coins {
  display: flex;
  flex-direction: column;
  width: 398px;
  border: solid 2px gray;
  margin-left: 10px;
  background-color: white;
  height: 100px;
}

.CoinsTitle {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px gray;
}

.CoinsContent {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  text-align: center;
}

.CoinsContent input {
  width: 60px;
  height: 30px;
  text-align: center;
}
