.Equipment {
  display: flex;
  flex-direction: column;
  width: 398px;
  border: solid 2px gray;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: white;
  height: 340px;
}

.EquipmentTitle {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px gray;
}

.EquipmentContent {
  height: 100%;
}

.EquipmentContent textarea{
  border: none;
  resize: none;
  width: 95%;
  height: 95%;
  margin: 5px;

}

.EquipmentMagicItems {
  margin: 10px;
}

.EquipmentMagicItemsCaption {
  font-size: 12px;
  font-weight: bold;
}

.EquipmentMagicItemName {
  width: 90%;
  border: none;
  border-bottom: solid 1px gray;
}