.Sheet2 {
  width: 1060px;
  height: 1480;
  margin: 10px;
	-webkit-text-size-adjust: 100%;	
  page-break-before: always;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.Sheet2Left {
  display: flex;
  flex-direction: column;
}

.Sheet2Right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Sheet2Upper {
  display: flex;
  flex-direction: row;
}

.Sheet2Logo {
  background-color: black;
  margin: 0 0 10px 10px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.Sheet2SeparatorR {
  border-right: solid 1px gray;
}

.Sheet2SeparatorB {
  border-bottom: solid 1px gray;
}

.Sheet2SelectNone {
  user-select: none;
}
