.App {
  width: 100%;
}

.AppHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  font-size: 14px;
}

@media print{
  .AppHeader{
      display: none;
  }
}

.AppHeaderSave {
  width: 200px;
  margin-right: 10px;
}

.AppHeaderSave button {
  width: 200px;
  margin-bottom: 15px;
}

.AppHeaderAutoSave {
  width: 150px;
}

@page {
  size: A4 portrait;
  margin: 5px;
}

.AppFooter {
  font-size: 8px;
  margin: 0 10px 10px 10px;
}

@media print{
  .AppFooter{
      display: none;
  }
}
