.App {
  width: 100%;
}

.AppHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}

@media print{
  .AppHeader{
      display: none;
  }
}

.AppHeaderSave {
  width: 200px;
  margin-right: 10px;
}

